<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div>
    <div>
        {% if app.user and 'ROLE_USER' in app.user.getroles() %}
            <a href="{{ path('app_home') }}">Home</a>
            <a href="{{ path('app_rathole_service_index') }}">Services</a>
        {% endif %}
        {% if app.user and 'ROLE_ADMIN' in app.user.getroles() %}
            <a href="{{ path('app_user_index') }}">Users</a>
        {% endif %}
        {% if app.user is null %}
            <a href="{{ path('app_login') }}">Login</a>
            <a href="{{ path('app_register') }}">Register</a>
        {% else %}
            Logged in as {{ app.user.email }}
            <a href="{{ path('app_logout') }}">Logout</a>
        {% endif %}
    </div>
    <div>
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

{% block body %}{% endblock %}

</body>
</html>
