<form method="post" action="{{ path('app_rathole_service_delete', {'id': rathole_service.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rathole_service.id) }}">
    <button class="btn">Delete</button>
</form>
