{% extends 'base.html.twig' %}

{% block title %}Edit RatholeService{% endblock %}

{% block body %}
    <h1>Edit RatholeService</h1>

    {{ include('rathole_service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rathole_service_index') }}">back to list</a>

    {{ include('rathole_service/_delete_form.html.twig') }}
{% endblock %}
