{% extends 'base.html.twig' %}

{% block title %}Rathole Services{% endblock %}

{% block body %}
    <h1>Services:</h1>

    <div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Local IP</th>
                <th>Local port</th>
                <th>Public access at</th>
                <th>Active</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>User</th>
                {% endif %}
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for rathole_service in rathole_services %}
                <tr>
                    <td>{{ rathole_service.name }}</td>
                    <td>{{ rathole_service.localAddrIP }}</td>
                    <td>{{ rathole_service.localAddrPort }}</td>
                    <td>{{ server_url }}:{{ rathole_service.bindAddrPort }}</td>
                    <td>{{ rathole_service.active ? 'Yes' : 'No' }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ rathole_service.user }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('app_rathole_service_show', {'id': rathole_service.id}) }}">show</a>
                        <a href="{{ path('app_rathole_service_edit', {'id': rathole_service.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_rathole_service_new') }}">Create new</a>
    </div>
{% endblock %}
