{% extends 'base.html.twig' %}

{% block title %}New RatholeService{% endblock %}

{% block body %}
    <h1>Create new Service</h1>

    {{ include('rathole_service/_form.html.twig') }}

    <a href="{{ path('app_rathole_service_index') }}">back to list</a>
{% endblock %}
