{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ rathole_service.name }}</td>
            </tr>
            <tr>
                <th>Local IP</th>
                <td>{{ rathole_service.localAddrIP }}</td>
            </tr>
            <tr>
                <th>Local port</th>
                <td>{{ rathole_service.localAddrPort }}</td>
            </tr>
            <tr>
                <th>Server port</th>
                <td>{{ rathole_service.bindAddrPort }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ rathole_service.token }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ rathole_service.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <p>
        Access to this service at {{ server_url }}:{{ rathole_service.bindAddrPort }}
    </p>

    <a href="{{ path('app_rathole_service_index') }}">back to list</a>

    <a href="{{ path('app_rathole_service_edit', {'id': rathole_service.id}) }}">edit</a>

    {{ include('rathole_service/_delete_form.html.twig') }}
{% endblock %}
